NEXT_PUBLIC_SUPABASE_URL=https://whsevzwluhjcyemmcnzg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indoc2V2endsdWhqY3llbW1jbnpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI1NTkxMzgsImV4cCI6MjA3ODEzNTEzOH0.eVXPGgtRqQkx0jd147Cs2ZPKLow1APpVmDzcl3RGxVk
